.admin-dash{
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding-top: 80px;
  background: rgba(59, 103, 179, 0.5);
  
}

.header-admin{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    z-index: 1000;

    position:fixed;
    top:0px;
    left:0;
    right: 0;
    background-color: white;
}

.mid-section{
    display: flex;
    align-items: center;
    margin-left:110px;
    margin-right:750px;
}

.right-section{
    display: flex;
    align-items: end;

}

.lasufixer-logo-admin{
    padding-left:30px;
}


.sidebar{
    position:fixed;
    top:80px;
    left:0px;
    bottom:0;
    width:180px;
    background-color: white;
    cursor: pointer;
}

.sidebar-link{
    height:76px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    padding-left: 30px;
}

.sidebar-link:hover {
    background-color: rgb(59, 103, 179, 0.1);
}

.sidebar-link img{
    height: 30px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 14px;
}

.admin-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left:220px;
    margin-top:5px;
    gap:30px;
    
}

.card-stat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:20px;
}

.admin-stat {
  margin: 0;
  padding: 0;
  flex: 0 0 220px;
  height: 150px;
  box-sizing: border-box;
}


@media (max-width: 250px) {
  .admin-stat {
    flex: 0 0 100%; 
  }
}

.table-container {
    width: 100%;
    overflow-x: auto; 
    margin-top: 20px;
    
}

.report-table {
    width: 80%;
    border-collapse: collapse; 
    background-color: white;
    font-family: sans-serif;
    text-align: left;
}


.report-table thead tr {
    background-color: #f8fafc; 
    color: #64748b; 
    border-bottom: 2px solid #e2e8f0;
}

.report-table th, 
.report-table td {
    padding: 12px 15px; 
}


.report-table tbody tr {
    border-bottom: 1px solid #e2e8f0;
}

.report-table tbody tr:nth-of-type(even) {
    background-color: #f1f5f9;
}


.report-table tbody tr:hover {
    background-color: #f1f5f9;
    cursor: pointer;
}


.view-btn {
    background-color: transparent;
    border: 1px solid #3b82f6;
    color: #3b82f6;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.view-btn:hover {
    background-color: #3b82f6;
    color: white;
}



.stat-header{
    display: flex;
    align-items: center;      
    justify-content: space-between; 
}

.stat-icon {
    width: 20px;
    height: 20px;
    background-color:rgb(59, 103, 179, 0.3) ;
    padding: 4px;
    border-radius: 4px;
}

.stat-tt {
  background: white; 
  padding: 20px;
  margin: 0;
  border-radius: 14px;
}

.stat-tnx-admin{
  font-weight: 700;
  font-size:20px;
  padding:0px;
  margin-bottom: 0px;
}

.log-out-btn {
  margin-top: 24px;
  margin-bottom: 24px;
  height: auto;
  background: linear-gradient(135deg, #0066ff, #00aaff);
  color: white;
  border:none;
  border-radius: 6px;
  padding:8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
