.report-damage{
    margin-top:0px;
    background-color:rgb(250, 201, 96);
    border-style: none;
    color:white;
    height:40px;
    width:130px;
    border-radius: 6px;
    margin-bottom:0px;

}